* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Audiowide", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ebffd8;
}

/* HEADER SECTION */

.header {
  display: flex;
  justify-content: space-between;
  background-color: #8dbcc7;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.logo {
  font-size: 1.5rem;
  padding-left: 1rem;
}

.logo-dot {
  color: #ebffd8;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding-right: 3rem;
}

nav a {
  color: black;
  text-decoration: none;
  transition: 0.2s ease-in;
}

nav a:hover {
  color: #ebffd8;
  scale: 1.1;
}

/* Section titles */

.section-titles {
  padding-left: 1rem;
}

/* INTRODUCTION SECTION */

.introduction {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  margin-bottom: 5rem;
}

.description p {
  padding-left: 1rem;
  font-size: x-large;
}

.full-name {
  font-size: xx-large;
  color: #8dbcc7;
}

.portrait-pic {
  padding-top: 2rem;
  max-width: 90%;
  height: auto;
  margin: auto;
  border-radius: 10%;
}

/* ABOUT SECTION */

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-left: 1rem;
  padding-right: 3rem;
  height: 20rem;
}

.video-bio {
  height: 18rem;
  width: 18rem;
  border: 0.2rem solid black;
  border-radius: 0.7rem;
}

.myself {
  margin-bottom: 1rem;
}

.myself p {
  font-size: large;
}

.ability-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ability-card h3 u {
  text-decoration-thickness: 0.2rem;
}

.ability-card {
  width: 15rem;
  background-color: transparent;
  border: 0.2rem solid black;
  border-radius: 0.7rem;
}

.ability-card h3 {
  font-weight: bolder;
  text-align: center;
}

.ability-card span {
  font-weight: bold;
}
.card p {
  font-size: small;
}

.code-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 10rem;
  background-color: #EBFFD87;
  padding-top: 4rem;
}

.code-icon .fa-solid.fa-code {
  display: block;
  scale: 5;
}

.code-icon p {
  font-size: larger;
}

.service {
  margin-left: 1rem;
  margin-right: 3rem;
}

.service-cards {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin: 1rem 0;
}

.service-card {
  width: 25%;
  border: 0.05rem solid black;
  transition: 0.3s;
}

.service-card:hover {
  background-color: #8dbcc7;
  border: 0.1rem solid black;
  border-radius: 1rem;
  scale: 1.05;
}

.service-card h3 {
  text-align: center;
}

.service-card p {
  padding: 0 1rem;
}

.motivation .fa-brands {
  scale: 1.5;

  padding-left: 0.7rem;
  padding-right: 2rem;
}

.contact {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 3rem;
  margin-bottom: 1rem;
}

.links {
  width: 40%;
  position: relative;
  left: 3rem;

}

.links h1 {
  margin-bottom: 3rem;
}

.media-icons i {
  padding-right: 1rem;
}


.message-form {
  width: 60%;
}

.message-form h3,
.message-form input,
.message-form textarea {
  margin-bottom: 1rem;
}

.footer {
  background-color: #8dbcc7;;
  text-align: center;
}



